<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 pull-right login-box">
        <h2>Welcome to twitter</h2>
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, icon: "envelope" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", icon: "lock" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Sign in", class: "btn btn-success btn-block" %>
          </div>
        <% end %>
        <br>
        Not a member? <%= link_to "Sign-up", new_user_registration_path %>
        <br><br>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>